.title{
    padding-bottom: 15px;
    border-bottom: rgb(220,220,220) solid 1px;
}

.delete-button-style,
.button-style{
    border-color: rgb(34,133,208);
    border-radius: 3px;
    background-color: rgb(34,133,208);
    color:white;
    margin:2px;
    padding-left: 15px;
    padding-right: 15px;

}

.lable-div{
    margin:20px;
    display: flex;
    justify-content: space-around;
}

.state-style,
.finished-lable,
.unfinished-lable{
    font-weight: bold;
}



.finished-lable{
    text-decoration:line-through;
}

.lables-container{
    display: flex;
    flex-direction: column;
}

.text,
.delete-button-style,
.button-style{
    height:30px;
}
.sub-tittle{
    margin: 20px;
}

