 .new1{
     text-align: center;
     color:green;
 }
 
.container {
    column-count: 2;
  }

.left{
    width:25%;
    float: left;
}

.right{
    width:75%;
}

.same{
    width:200px;
    float:left;
}

.sel{
    font-weight: bold;
    font-size:25;
    color:green;
}

.aftersel{
    font-weight: bold;
    font-size:30;
    color:red;
}

.bigbox{
    width:100%;
    border-bottom: 1px solid;
}

.bigbox2{
    width:100%;
}

.text{
    font-weight: bold;
}

.text2{
    color:green;
    font-weight: bold;
}

.textlen{
    width:350px;
}

.bigtext{
    width:300px;
    height:150px;
}

.bigtext2{
    width:500px;
    height:150px;
}

.buttontype{
    background-color:green;
    color:white;
    width:80px;
    height:40px;
    border-radius:8px;
    border:1px solid white;
}
